<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Bentornato " + HttpContext.Current.User.Identity.Name, "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-center">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Lista attività
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li style="background-color: #f2f2f2">@Html.ActionLink("Backlog", "Home", new { id = 1 })</li>
                                <li style="background-color: #ffffcc ">@Html.ActionLink("In Progress", "Home", new { id = 2 })</li>
                                <li style="background-color: #e6ffe6">@Html.ActionLink("Completed", "Home", new { id = 3 })</li>
                                <li>@Html.ActionLink("Tutti", "Home", new { id = 4 })</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-center">
                        <li>@Html.ActionLink("Inserisci nuova attività", "CreateTask", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.AntiForgeryToken()
                            @Html.ActionLink("Logout", "Login", "Account")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Web Application Giuneco: Simone Agnoletti</p>
            </footer>
        </div>
    }
    else
    {
        Response.Redirect("../Account/Login");
    }

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
